*{
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
    background-image:url(imgin1.jpg);
    background-size:100% 170%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    box-sizing: border-box;
    z-index:0;
}
.BarraS{
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
#check {
    display:none;
}
#check:checked ~ .menu{
    width:160px;
}
header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #FF9933;
    z-index:3;
}
.menu{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 0px;
    height: 100vh;
    background:#FF9933;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    z-index:2;
}
.menu li{
    list-style: none;
    padding: 24px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 400px;
    background:#FF9933;
}
.menu ul li:hover ul {
    display:block;
    margin-top:10px;
}
.menu ul ul{
    display:none;
    margin-left:-20px;
}
.menu li:hover{
    
    display:block;
}
.menu li a{
    color:white;
    text-decoration:none;
    font-size:15px;
    background:#FF9933;
}
.BarraS #btn1{
    position:fixed;
    width: 5%;
    top: 14px;
    font-size: 26px;
    color: white;
    background: #FF9933;
    cursor: pointer;
    z-index: 10;
    text-align:left;
}

.BarraS h1{
    background: #FF9933;
    position: fixed;
    width: 100%;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.txt{
    background:white;
    width:70%;
    height:auto;
    margin: auto;
    text-align:justify;
    color:white;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    margin-bottom:20px;
    border-radius:10px;
}
.divingredientes{
    text-align:center;
    background:white;
    color:black;
    font-size:16px;
}
.divelaboracion{
    background:white;
    text-align:justify;
    color:black;
    font-size:16px;
}
.imgc {
    margin:auto;
    align-self:center;
    border-radius:10px;
    width:99%;
    height:99%;
}
p{
    color:black;
    font-size:25px;
    background:white;   
}
.bienvenida {
    background:white;
    width:70%;
    height:auto;
    margin:auto;
   color:black;
    font-size:20px;
    text-align:center;
    border-radius:10px;
}
.bienvenida p2 {
    text-align: center;
    font-size:25px;
    background:white;
}
.divmenus {
    background:white;
    width:70%;
    height:auto;
    margin:auto;
    margin-bottom:50px;
   color:black;
    font-size:20px;
    text-align:center;
    border-radius:10px;
    z-index:1;
    position:relative;
}
.divmenus li{
    list-style: none;
    padding: 24px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width:100%;
    background:#FF9933;
}
.divmenus li a{
    color:white;
    text-decoration:none;
    font-size:15px;
    background:#FF9933;
}
